a {
    margin: 5px;
}

.header {
    height: 200px;
    background-image: url("partyhard.jpg");
}

h1{
    color: wheat;
}

h2{
    padding-bottom: 15px;
}


.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.form-group{
    width: 90%;
    margin-left: 30px;
    margin-right: 30px;
}

#registruj{
    margin-left: 30px;
}

#filtriranje{
    color: white;
}

#filtriraj{
    margin-left: 30px;
}

#uloguj{
    margin-left: 30px;
}

#azuriraj{
    margin-left: 30px;
}

#azurirajLozinku{
    margin-left: 30px;
}

#napravi{
    margin-left: 30px;
}

#aktivno{
    color: green;
}

.card{
    margin-left: 10px;
    margin-right: 10px;
}

.utabovano{
    margin-left: 45px;
}

#informacije{
    margin-left: 30px;
    display: inline-block;
}

#slikaManifestacije{
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 40%;
    max-height: 70%;
    width: 40%;
    float: right;
}

img{
    height: 40%;
}