a {
    margin: 5px;
}

.header {
    height: 200px;
    background-image: url("partyhard.jpg");
}

h1{
    color: wheat;
}

h2{
    padding-bottom: 15px;
}

.dinamic{
    height: 2px;
}


.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.form-group{
    width: 90%;
    margin-left: 30px;
    margin-right: 30px;
}

.map {
    width: 26%;
      height: 300px;
      border: 1px solid black;
      display: inline-block;
      vertical-align: top;
}

.map-right {
    width: 26%;
      height: 300px;
      border: 1px solid black;
      display: inline-block;
      margin-top: 100px;
      vertical-align: top;
}

.star-rating {
    line-height:32px;
    font-size:1.25em;
  }
  
  .star-rating .fa-star{color: gold;}
  
.star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 64px;
    position: relative;
    margin: 0;
    padding: 0;
}
.fill-ratings {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
  }

.fill-ratings span {
    display: inline-block;
}

#text{
    display: block;
    margin: 1.5em;
}

#registruj{
    margin-left: 30px;
}

#filtriranje{
    color: white;
}

#filtriraj{
    margin-top: 30px;
    margin-left: 30px;
}

#preview{
    margin: 20px;
}

#uloguj{
    margin-left: 30px;
}

#azuriraj{
    margin-left: 30px;
}

#azurirajLozinku{
    margin-left: 30px;
}

#napravi{
    margin-left: 30px;
}

#aktivno{
    color: green;
}

#lozinkaProfil{
    text-align: center;
}

.card{
    margin-left: 23px;
    margin-right: 23px;
}

.utabovano{
    margin-left: 230px;
}

#informacije{
    margin-left: 30px;
    display: inline-block;
}

#slikaManifestacije{
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 40%;
    max-height: 70%;
    width: 40%;
    float: right;
}

img{
    height: 40%;
}